WARDEN_LOGGER_LEVEL=info

WARDEN_ADMIN_EMAIL=admin@warden.local
WARDEN_ADMIN_TMP_PASSWORD=password543210

WARDEN_SECRET_KEY=secret_key_12340

WARDEN_API_SERVER_ADDR=:8080
WARDEN_API_SERVER_READ_TIMEOUT=15s
WARDEN_API_SERVER_WRITE_TIMEOUT=30s
WARDEN_API_SERVER_IDLE_TIMEOUT=60s

WARDEN_TECH_SERVER_ADDR=:8081
WARDEN_TECH_SERVER_READ_TIMEOUT=15s
WARDEN_TECH_SERVER_WRITE_TIMEOUT=30s
WARDEN_TECH_SERVER_IDLE_TIMEOUT=60s

# JWT
WARDEN_JWT_SECRET_KEY=secret_key123456
WARDEN_ACCESS_TOKEN_TTL=3h
WARDEN_REFRESH_TOKEN_TTL=168h
WARDEN_RESET_PASSWORD_TTL=8h

# PostgreSQL
WARDEN_POSTGRES_HOST=warden-pgbouncer
WARDEN_POSTGRES_DATABASE=db-ce
WARDEN_POSTGRES_PASSWORD=password
WARDEN_POSTGRES_PORT=6432
WARDEN_POSTGRES_USER=user
WARDEN_POSTGRES_MIGRATIONS_DIR=/migrations/postgresql

# PostgreSQL for migrations (direct connection)
WARDEN_POSTGRES_MIGRATION_HOST=warden-postgresql
WARDEN_POSTGRES_MIGRATION_PORT=5432

# Redis
WARDEN_REDIS_HOST=warden-redis
WARDEN_REDIS_PORT=6379
WARDEN_REDIS_PASSWORD=password
WARDEN_REDIS_DB=0

# ClickHouse
WARDEN_CLICKHOUSE_HOST=warden-clickhouse
WARDEN_CLICKHOUSE_PORT=9000
WARDEN_CLICKHOUSE_DATABASE=warden
WARDEN_CLICKHOUSE_USER=default
WARDEN_CLICKHOUSE_PASSWORD=password
WARDEN_CLICKHOUSE_TIMEOUT=10s
WARDEN_CLICKHOUSE_MIGRATIONS_DIR=./migrations/clickhouse

# Kafka
WARDEN_KAFKA_BROKERS=warden-kafka:9092
WARDEN_KAFKA_CLIENT_ID=app

WARDEN_MAILER_ADDR=warden-mailhog:1025
WARDEN_MAILER_USER=warden
WARDEN_MAILER_PASSWORD=WardenQwe321!
WARDEN_MAILER_FROM=noreply@warden.local
WARDEN_MAILER_ALLOW_INSECURE=true
WARDEN_MAILER_BASE_URL=https://warden-reverse-proxy
