WARDEN_LOGGER_LEVEL=info

WARDEN_FRONTEND_URL={{ .FrontendURL }}

WARDEN_API_SERVER_ADDR=:8080
WARDEN_API_SERVER_READ_TIMEOUT=15s
WARDEN_API_SERVER_WRITE_TIMEOUT=30s
WARDEN_API_SERVER_IDLE_TIMEOUT=60s

WARDEN_TECH_SERVER_ADDR=:8081
WARDEN_TECH_SERVER_READ_TIMEOUT=15s
WARDEN_TECH_SERVER_WRITE_TIMEOUT=30s
WARDEN_TECH_SERVER_IDLE_TIMEOUT=60s

WARDEN_SECRET_KEY={{ .SecretKey }}

# JWT
WARDEN_JWT_SECRET_KEY={{ .JWTSecretKey }}
WARDEN_ACCESS_TOKEN_TTL=3h
WARDEN_REFRESH_TOKEN_TTL=168h
WARDEN_RESET_PASSWORD_TTL=8h

# PostgreSQL
WARDEN_POSTGRES_HOST=warden-pgbouncer
WARDEN_POSTGRES_DATABASE=warden
WARDEN_POSTGRES_PASSWORD={{ .PGPassword }}
WARDEN_POSTGRES_PORT=6432
WARDEN_POSTGRES_USER=warden
WARDEN_POSTGRES_MIGRATIONS_DIR=/migrations/postgresql
WARDEN_POSTGRES_MAX_IDLE_CONN_TIME=5m
WARDEN_POSTGRES_MAX_CONNS=20
WARDEN_POSTGRES_CONN_MAX_LIFETIME=10m

# PostgreSQL for migrations (direct connection)
WARDEN_POSTGRES_MIGRATION_HOST=warden-postgresql
WARDEN_POSTGRES_MIGRATION_PORT=5432

# Redis
WARDEN_REDIS_HOST=warden-redis
WARDEN_REDIS_PORT=6379
WARDEN_REDIS_PASSWORD=
WARDEN_REDIS_DB=0

# ClickHouse
WARDEN_CLICKHOUSE_HOST=warden-clickhouse
WARDEN_CLICKHOUSE_PORT=9000
WARDEN_CLICKHOUSE_DATABASE=warden
WARDEN_CLICKHOUSE_USER=default
WARDEN_CLICKHOUSE_PASSWORD={{ .CHPassword }}
WARDEN_CLICKHOUSE_TIMEOUT=10s
WARDEN_CLICKHOUSE_MIGRATIONS_DIR=/migrations/clickhouse

# Kafka
WARDEN_KAFKA_BROKERS=warden-kafka:9092
WARDEN_KAFKA_CLIENT_ID=app-warden
WARDEN_KAFKA_CONSUMER_GROUP_ID=warden-consumer
WARDEN_KAFKA_VERSION=3.9.0
WARDEN_KAFKA_TIMEOUT=10s

# Mailer
WARDEN_MAILER_ADDR={{ .MailerAddr }}
WARDEN_MAILER_USER={{ .MailerUser }}
WARDEN_MAILER_PASSWORD={{ .MailerPassword }}
WARDEN_MAILER_FROM={{ .MailerFrom }}
WARDEN_MAILER_ALLOW_INSECURE=false
WARDEN_MAILER_USE_TLS={{ .MailerUserTLS }}
WARDEN_MAILER_CERT_FILE="/opt/warden/secrets/mailer_cert.pem"
WARDEN_MAILER_KEY_FILE="/opt/warden/secrets/mailer_key.pem"

# For emails
WARDEN_LOGO_URL=https://warden-project.tech/logo.png

# Envelope consumer LRU cache
WARDEN_CACHE_ENABLED=true
WARDEN_CACHE_RELEASE_CACHE_SIZE=10000
WARDEN_CACHE_ISSUE_CACHE_SIZE=10000
WARDEN_CACHE_ISSUE_RELEASE_CACHE_SIZE=10000

# Ingest server rate limit
WARDEN_RATE_LIMIT_RATE_LIMIT=100
WARDEN_RATE_LIMIT_RPS_WINDOW=10s
WARDEN_RATE_LIMIT_STATS_REFRESH_INTERVAL=1s

# Issue notificator
WARDEN_ISSUE_NOTIFICATOR_WORKER_COUNT=5

# User notificator
WARDEN_USER_NOTIFICATOR_WORKER_COUNT=5

# Admin user
WARDEN_ADMIN_EMAIL={{ .AdminEmail }}
WARDEN_ADMIN_TMP_PASSWORD={{ .AdminTmpPassword }}
