openapi: 3.0.0
info:
  title: Backend for Sentry-Compatible API Project
  description: OpenAPI specification for a backend server for a compatible with the Sentry SDK project.
  version: 1.1.0

servers:
  - url: https://warden.io
    description: Main production backend
paths:
  # --- Authentication Endpoints ---
  /api/v1/auth/login:
    post:
      summary: Authenticate user and get access token
      operationId: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidCredentials'
        '403':
          description: 2FA required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2FARequired'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/auth/refresh:
    post:
      summary: Refresh access token
      operationId: RefreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/auth/forgot-password:
    post:
      summary: Request a password reset
      operationId: ForgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '204':
          description: Password reset email sent successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/auth/reset-password:
    post:
      summary: Reset password using token
      operationId: ResetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '204':
          description: Password reset successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/auth/2fa/verify:
    post:
      summary: Verify 2FA-code on login
      operationId: Verify2FA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFAVerifyRequest'
      responses:
        '200':
          description: Success, returns access/refresh tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFAVerifyResponse'
        '400':
          description: Invalid code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorTooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # --- System Endpoints ---
  /api/v1/versions:
    get:
      summary: Get versions of all system components
      description: Returns versions and build times of all Warden system components by collecting data from their tech servers
      operationId: GetVersions
      responses:
        '200':
          description: Versions of all system components
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # --- User Endpoints ---
  /api/v1/users/me:
    get:
      summary: Get current user information
      operationId: GetCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCurrentUserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/me/change-password:
    post:
      summary: Change my password
      operationId: userChangeMyPassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeUserPasswordRequest'
      responses:
        '204':
          description: Password changed successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
  /api/v1/users:
    get:
      summary: List all users (superuser only)
      operationId: ListUsers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        '400':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new user (superuser only)
      operationId: CreateUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not a superuser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/{user_id}:
    delete:
      summary: Delete a user (superuser only, cannot delete superusers)
      operationId: DeleteUser
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '204':
          description: User deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not a superuser or trying to delete a superuser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/{user_id}/superuser:
    put:
      summary: Set or unset superuser status (superuser only, cannot modify admin user)
      operationId: SetSuperuserStatus
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetSuperuserStatusRequest'
      responses:
        '200':
          description: Superuser status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not a superuser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/{user_id}/active:
    put:
      summary: Set or unset user active status (superuser only)
      operationId: SetUserActiveStatus
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUserActiveStatusRequest'
      responses:
        '200':
          description: User active status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not a superuser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/team/{team_id}/list:
    get:
      summary: List all users for team admin
      operationId: ListUsersForTeam
      security:
        - bearerAuth: []
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        '400':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects:
    get:
      summary: Get projects list
      operationId: ListProjects
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/recent:
    get:
      summary: Get recent projects list
      operationId: RecentProjectsList
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of recent projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/add:
    post:
      summary: Add new project
      operationId: addProject
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProjectRequest'
      responses:
        '201':
          description: Project created
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}:
    get:
      summary: Get project details
      operationId: GetProject
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update project name and description
      operationId: UpdateProject
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Archive a project
      operationId: ArchiveProject
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Project archived successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/stats:
    get:
      summary: Get project statistics
      operationId: GetProjectStats
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: period
          in: query
          required: true
          schema:
            type: string
            enum: [10m, 30m, 1h, 3h, 6h, 12h, 24h, 3d, 7d, 14d, 30d]
            default: 7d
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Project statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStatsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/team:
    get:
      summary: Get project team
      operationId: GetProjectTeam
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Project team details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project or team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # --- Issues Endpoints ---
  /api/v1/issues:
    get:
      summary: Get all issues across all projects
      operationId: ListIssues
      parameters:
        - name: level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IssueLevel'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IssueStatus'
        - name: project_id
          in: query
          required: false
          schema:
            type: integer
            format: uint
        - name: per_page
          in: query
          required: true
          schema:
            type: integer
            format: uint
            default: 20
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: uint
            default: 1
        - name: sort_by
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IssueSortColumn'
            default: total_events
        - name: sort_order
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SortOrder'
            default: desc
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of issues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIssuesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/issues/recent:
    get:
      summary: Get recent issues across all projects
      operationId: GetRecentIssues
      parameters:
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            format: uint
            default: 5
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of recent issues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIssueSummariesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/issues/timeseries:
    get:
      summary: Get issues timeseries
      operationId: GetIssuesTimeseries
      parameters:
        - name: project_id
          in: query
          required: false
          schema:
            type: integer
            format: uint
        - $ref: '#/components/parameters/IntervalParam'
        - $ref: '#/components/parameters/GranularityParam'
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Issues timeseries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeseriesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/issues/{issue_id}:
    get:
      summary: Get details of a specific issue
      operationId: GetIssue
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: issue_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Issue details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Issue or project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/issues/{issue_id}/timeseries:
    get:
      summary: Get timeseries for a specific issue inside a project
      operationId: GetProjectIssueTimeseries
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: issue_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - $ref: '#/components/parameters/IntervalParam'     # query ?interval=
        - $ref: '#/components/parameters/GranularityParam'  # query ?granularity=
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Issue timeseries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeseriesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Issue or project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/issues/{issue_id}/events/timeseries:
    get:
      summary: Get timeseries of events for a specific issue inside a project
      operationId: GetProjectIssueEventsTimeseries
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: issue_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - $ref: '#/components/parameters/IntervalParam'     # query ?interval=
        - $ref: '#/components/parameters/GranularityParam'  # query ?granularity=
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Issue timeseries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeseriesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Issue or project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/issues/{issue_id}/change-status:
    put:
      summary: Change issue status
      operationId: changeIssueStatus
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: issue_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/IssueStatus'
              required:
                - status
      responses:
        '204':
          description: Issue status successfully updated
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Issue or project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/events/timeseries:
    get:
      summary: Get events timeseries
      operationId: GetEventsTimeseries
      parameters:
        - name: project_id
          in: query
          required: false
          schema:
            type: integer
            format: uint
        - $ref: '#/components/parameters/IntervalParam'
        - $ref: '#/components/parameters/GranularityParam'
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Events timeseries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeseriesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # --- Notification Settings Endpoints ---
  /api/v1/projects/{project_id}/notification-settings:
    get:
      summary: List all notification settings for a project
      operationId: ListNotificationSettings
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of notification settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotificationSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to access this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new notification setting
      operationId: CreateNotificationSetting
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotificationSettingRequest'
      responses:
        '201':
          description: Notification setting created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSetting'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to modify this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/notification-settings/{setting_id}:
    get:
      summary: Get a specific notification setting
      operationId: GetNotificationSetting
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: setting_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Notification setting details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSetting'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to access this notification setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Notification setting not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a notification setting
      operationId: UpdateNotificationSetting
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: setting_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationSettingRequest'
      responses:
        '200':
          description: Notification setting updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSetting'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to modify this notification setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Notification setting not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a notification setting
      operationId: DeleteNotificationSetting
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: setting_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Notification setting deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to delete this notification setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Notification setting not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/notification-settings/{setting_id}/test:
    post:
      summary: Send test notification
      operationId: sendTestNotification
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: setting_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      responses:
        '204':
          description: Notification successfully sent
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # --- Notification Rules Endpoints ---
  /api/v1/projects/{project_id}/notification-settings/{setting_id}/rules:
    get:
      summary: List all notification rules for notification settings of project
      operationId: ListNotificationRules
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: setting_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of notification rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotificationRulesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to access this project or notification setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project or notification setting not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new notification rule
      operationId: CreateNotificationRule
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: setting_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotificationRuleRequest'
      responses:
        '201':
          description: Notification rule created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationRule'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to modify this notification setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project or notification setting not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/notification-settings/{setting_id}/rules/{rule_id}:
    get:
      summary: Get a specific notification rule
      operationId: GetNotificationRule
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: setting_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: rule_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Notification rule details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationRule'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to access this notification rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project, notification setting, or notification rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a notification rule
      operationId: UpdateNotificationRule
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: setting_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: rule_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationRuleRequest'
      responses:
        '200':
          description: Notification rule updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationRule'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to modify this notification rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project, notification setting, or notification rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a notification rule
      operationId: DeleteNotificationRule
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: setting_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: rule_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Notification rule deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to delete this notification rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Project, notification setting, or notification rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # --- Team Endpoints ---
  /api/v1/teams:
    get:
      summary: List all teams
      operationId: ListTeams
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of teams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new team
      operationId: CreateTeam
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
      responses:
        '201':
          description: Team created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTeamResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/teams/{team_id}:
    get:
      summary: Get team details
      operationId: GetTeam
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Team details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a team
      operationId: DeleteTeam
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Team deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to delete this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/teams/check-exists/{team_name}:
    get:
      summary: Check if a team exists by name
      operationId: CheckTeamExists
      parameters:
        - name: team_name
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Team existence check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamExistsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/teams/{team_id}/members:
    post:
      summary: Add a user to a team
      operationId: AddTeamMember
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTeamMemberRequest'
      responses:
        '201':
          description: User added to team successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - Not authorized to modify this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Team or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/teams/{team_id}/members/{user_id}:
    delete:
      summary: Remove a user from a team (or self-leave)
      description: |
        Removes a user from a team. If user_id matches the current user's id, the operation is treated as self-leave (the user leaves the team).

        Scenarios:
        - Admin/owner removes another user
        - User removes themselves (leave)

        Restrictions:
        - A user cannot leave the team if they are the only owner
        - A superuser cannot leave the team if restricted by security policy
      operationId: RemoveTeamMember
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '204':
          description: User removed from team successfully (or user left the team)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: |
            Forbidden - Insufficient permissions to remove a member or attempt to leave as the only owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Team, user, or membership not found (or user is not a member of the team)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/teams/{team_id}/members/{user_id}/role:
    put:
      summary: Change team member role
      operationId: ChangeTeamMemberRole
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeTeamMemberRoleRequest'
      responses:
        '200':
          description: Role changed successfully
        '400':
          description: Bad request - invalid role or data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPermissionDenied'
        '404':
          description: Team or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/me/2fa/setup:
    post:
      summary: Begin setup 2FA (generate secret and QR-code)
      operationId: Setup2FA
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Secret + QR-code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFASetupResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/me/2fa/confirm:
    post:
      summary: Approve enable 2FA (code from app)
      operationId: Confirm2FA
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFAConfirmRequest'
      responses:
        '204':
          description: 2FA enabled
        '400':
          description: Invalid code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorTooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/me/2fa/disable:
    post:
      summary: Disable 2FA (using email-confirmation)
      operationId: Disable2FA
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFADisableRequest'
      responses:
        '204':
          description: 2FA disabled
        '400':
          description: Invalid code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/me/2fa/reset:
    post:
      summary: Reset/generate secret 2FA (using email-confirmation)
      operationId: Reset2FA
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFAResetRequest'
      responses:
        '200':
          description: Secret + QR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFASetupResponse'
        '400':
          description: Invalid code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/me/2fa/send_code:
    post:
      summary: Send 2FA email code for disable/reset
      operationId: send2FACode
      tags:
        - users
      responses:
        '204':
          description: Code sent
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/analytics/releases:
    get:
      summary: Get analytics summary for all releases in project
      operationId: GetProjectReleasesAnalytics
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of releases with analytics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReleaseAnalyticsSummary'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/analytics/releases/{version}:
    get:
      summary: Get analytics details for a specific release
      operationId: GetProjectReleaseAnalyticsDetails
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: version
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Release analytics details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseAnalyticsDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Project or release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/analytics/releases/compare:
    post:
      summary: Compare two releases analytics
      operationId: CompareProjectReleasesAnalytics
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [base_version, target_version]
              properties:
                base_version:
                  type: string
                target_version:
                  type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Release comparison analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseComparison'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Project or release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/analytics/traffic:
    get:
      summary: Get errors timeseries for a release
      operationId: GetProjectReleaseErrorsTimeseries
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: release
          in: query
          required: true
          schema:
            type: string
        - name: level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IssueLevel'
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [none, level]
        - $ref: '#/components/parameters/IntervalParam'
        - $ref: '#/components/parameters/GranularityParam'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Timeseries of errors for release
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeseriesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Project or release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/projects/{project_id}/analytics/segments:
    get:
      summary: Get user segments analytics for a release
      operationId: GetProjectReleaseSegments
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
        - name: release
          in: query
          required: true
          schema:
            type: string
        - name: segment
          in: query
          required: true
          schema:
            type: string
            enum: [platform, browser_name, os_name, device_arch, runtime_name]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Aggregation by segment for release
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSegmentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Project or release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # User Notifications Endpoints
  /api/v1/notifications:
    get:
      summary: Get user notifications
      operationId: GetUserNotifications
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: uint
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            format: uint
            default: 0
      responses:
        '200':
          description: List of user notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNotificationsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []

  /api/v1/notifications/{notification_id}/read:
    put:
      summary: Mark notification as read
      operationId: MarkNotificationAsRead
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: integer
            format: uint
      responses:
        '204':
          description: Notification marked as read
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []

  /api/v1/notifications/read-all:
    put:
      summary: Mark all notifications as read
      operationId: MarkAllNotificationsAsRead
      responses:
        '204':
          description: All notifications marked as read
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []

  /api/v1/notifications/unread-count:
    get:
      summary: Get unread notifications count
      operationId: GetUnreadNotificationsCount
      responses:
        '200':
          description: Unread notifications count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadCountResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []

# ---------------------------------------------------
#                Components / Schemas
# ---------------------------------------------------
components:
  parameters:
    IntervalParam:
      name: interval
      in: query
      required: true
      schema:
        type: string
        pattern: '^\d+(m|h|d)$'
        example: '7d'
    GranularityParam:
      name: granularity
      in: query
      required: true
      schema:
        type: string
        pattern: '^\d+(m|h|d)$'
        example: '1h'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    # ---- Generic entities ----
    SuccessResponse:
      type: object
      properties:
        message:
          type: string
          example: "Operation completed successfully"

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
      required: [error]

    User:
      type: object
      properties:
        id:
          type: integer
          format: uint
          example: 1
        username:
          type: string
          example: "john.doe"
        email:
          type: string
          format: email
          example: "john.doe@example.com"
        is_superuser:
          type: boolean
          example: false
        is_active:
          type: boolean
          example: true
        is_tmp_password:
          type: boolean
          example: true
        two_fa_enabled:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: "2023-01-01T00:00:00Z"
        last_login:
          type: string
          format: date-time
          example: "2023-01-02T00:00:00Z"
        teams:
          type: array
          items:
            $ref: '#/components/schemas/UserTeam'
      required: [id, username, email, is_superuser, is_active, is_tmp_password, two_fa_enabled, created_at]

    AddProjectRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 2
        description:
          type: string
          minLength: 10
        team_id:
          type: integer
          format: uint
          nullable: true
          description: CPU architecture of the device

    UpdateProjectRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 2
        description:
          type: string
          minLength: 10

    # ---- /auth/login ----
    LoginRequest:
      type: object
      properties:
        username:
          type: string
          example: "user@example.com"
        password:
          type: string
          example: "password123"
      required: [username, password]

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          example: "<JWT_ACCESS_TOKEN>"
        refresh_token:
          type: string
          example: "<JWT_REFRESH_TOKEN>"
        expires_in:
          type: integer
          example: 3600
        is_tmp_password:
          type: boolean
          example: true
      required: [access_token, refresh_token, expires_in, is_tmp_password]

    ErrorInvalidCredentials:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          example:
            error:
              code: "invalid_credentials"
              message: "Invalid username or password"

    # ---- Notification Settings ----
    NotificationSetting:
      type: object
      properties:
        id:
          type: integer
          format: uint
          example: 1
        project_id:
          type: integer
          format: uint
          example: 123
        type:
          type: string
          example: "email"
          description: "Type of notification channel (email, mattermost, slack, etc.)"
        config:
          type: string
          description: "Configuration for the notification channel (JSONB in database)"
        enabled:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: "2023-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2023-01-02T00:00:00Z"
      required: [id, project_id, type, config, enabled, created_at, updated_at]

    ListNotificationSettingsResponse:
      type: object
      properties:
        notification_settings:
          type: array
          items:
            $ref: '#/components/schemas/NotificationSetting'
      required: [notification_settings]

    CreateNotificationSettingRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/NotificationChannelType'
        config:
          type: string
          minLength: 2
          description: "Configuration for the notification channel (JSONB in database)"
        enabled:
          type: boolean
          example: true
          default: true
      required: [type, config]

    UpdateNotificationSettingRequest:
      type: object
      properties:
        type:
          type: string
          example: "email"
          description: "Type of notification channel (email, mattermost, slack, etc.)"
        config:
          type: string
          description: "Configuration for the notification channel (JSONB in database)"
        enabled:
          type: boolean
          example: true
      required: []

    # ---- Notification Rules ----
    NotificationRule:
      type: object
      properties:
        id:
          type: integer
          format: uint
          example: 1
        notification_setting_id:
          type: integer
          format: uint
          example: 123
        event_level:
          type: string
          example: "error"
          description: "Level of event to trigger notification (error, warning, info, etc.)"
          nullable: true
        fingerprint:
          type: string
          example: "54d8a9e1ba944f508464b4c0f6dd3320"
          description: "Specific error fingerprint to trigger notification"
          nullable: true
        is_new_error:
          type: boolean
          example: true
          description: "Trigger only for new errors"
          nullable: true
        is_regression:
          type: boolean
          example: false
          description: "Trigger only for regressions (resolved -> unresolved)"
          nullable: true
        created_at:
          type: string
          format: date-time
          example: "2023-01-01T00:00:00Z"
      required: [id, notification_setting_id, created_at]

    ListNotificationRulesResponse:
      type: object
      properties:
        notification_rules:
          type: array
          items:
            $ref: '#/components/schemas/NotificationRule'
      required: [notification_rules]

    CreateNotificationRuleRequest:
      type: object
      properties:
        event_level:
          type: string
          example: "error"
          description: "Level of event to trigger notification (error, warning, info, etc.)"
          nullable: true
        fingerprint:
          type: string
          example: "54d8a9e1ba944f508464b4c0f6dd3320"
          description: "Specific error fingerprint to trigger notification"
          nullable: true
        is_new_error:
          type: boolean
          example: true
          description: "Trigger only for new errors"
          nullable: true
        is_regression:
          type: boolean
          example: false
          description: "Trigger only for regressions (resolved -> unresolved)"
          nullable: true
      required: []

    UpdateNotificationRuleRequest:
      type: object
      properties:
        event_level:
          type: string
          example: "error"
          description: "Level of event to trigger notification (error, warning, info, etc.)"
          nullable: true
        fingerprint:
          type: string
          example: "54d8a9e1ba944f508464b4c0f6dd3320"
          description: "Specific error fingerprint to trigger notification"
          nullable: true
        is_new_error:
          type: boolean
          example: true
          description: "Trigger only for new errors"
          nullable: true
        is_regression:
          type: boolean
          example: false
          description: "Trigger only for regressions (resolved -> unresolved)"
          nullable: true
      required: []

    # ---- /auth/refresh ----
    RefreshTokenRequest:
      type: object
      properties:
        refresh_token:
          type: string
          example: "<JWT_REFRESH_TOKEN>"
      required: [refresh_token]

    RefreshTokenResponse:
      type: object
      properties:
        access_token:
          type: string
          example: "<JWT_ACCESS_TOKEN>"
        refresh_token:
          type: string
          example: "<JWT_REFRESH_TOKEN>"
        expires_in:
          type: integer
          example: 3600
      required: [access_token, refresh_token, expires_in]

    ErrorInvalidToken:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          example:
            error:
              code: "invalid_token"
              message: "Invalid refresh token"

    # ---- /auth/forgot-password ----
    ForgotPasswordRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"
      required: [email]

    # ---- /auth/reset-password ----
    ResetPasswordRequest:
      type: object
      properties:
        token:
          type: string
          example: "reset_token_123456"
        new_password:
          type: string
          example: "newpassword123"
          minLength: 8
      required: [token, new_password]

    # ---- /users/me ----
    GetCurrentUserResponse:
      $ref: '#/components/schemas/User'

    ErrorInternalServerError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          example:
            error:
              code: "internal"
              message: "Internal server error"

    ErrorBadRequest:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          example:
            error:
              code: "bad_request"
              message: "Bad request"

    ErrorUnauthorized:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          example:
            error:
[...]
